{% load static %}
<h2>WiFi</h2>
<div>
  <p><strong>Network:</strong> DebConf (unsecured).</p>
  <p>
    There are several variations of the WiFi network name, because every room
    has a separate network. (FIXME)
  </p>
</div>
<h2 class="tight">Venues</h2>
<p>
  FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME
  FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME FIXME
</p>
<ul>
  <li><strong>Silent Space:</strong> TBD</li>
  <li><strong>Hacklab:</strong> TBD</li>
  <li><strong>Outdoor Hacklabs:</strong> TBD</li>
  <li><strong>Bar:</strong> TBD</li>
</ul>
<h2>Useful Links</h2>
<ul>
  <li><strong>Website:</strong> deb.li/dc24</li>
  <li><strong>Wiki:</strong> wiki.debian.org/DebConf/24</li>
  <li><strong>Code of Conduct:</strong> deb.li/dcoc</li>
</ul>
